
<footer>
	
	<h2>Author Details</h2>

	<ul>
		<li>
			Website: <a href="http://iancrowther.co.uk">http://iancrowther.co.uk</a>
		</li>
		<li>
			Twitter: <a href="http://twitter.com/iancrowther">@iancrowther</a>
		</li>
	</ul>
	
</footer>
