
{{#content 'pageScripts'}}
<script>
  console.log("page script loaded");
</script>
{{/content}}

<section id="content">

	<h2>Enter you github username:</h2>

	<form method="post" action="/">
    <input type="text" name="username" value="nstansbury"/>
    <input type="submit" value="Submit" />
 	</form>

</section>
